@import "https://fonts.googleapis.com/css?family=Lato";

@font-face {
  font-family: "Times Pro Roman";
  src: url(fuente-uca) format(ttf);
}


body, html {
  overflow-x: hidden;
}

body {
  font-family: 'Lato', serif;
  overflow-x: hidden !important;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(47, 47, 47);
  &:focus {
    outline: none;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h2 {
  color: rgb(49, 51, 56);
  font-size: 30px;
  line-height: 40px;
  margin: 0px;
  padding-bottom: 10px;
}

img {
  border: none;
}

.slides-navigation a {
  position: absolute;
  display: block;
  height: 95px;
  width: 55px;
  &.prev {
    background-image: url("../images/navSlider.png");
    background-repeat: no-repeat;
    background-position: left -240px center;
    left: 0;
  }
  &.next {
    background-image: url("../images/navSlider.png");
    background-position: left -316px center;
    background-repeat: no-repeat;
    right: 0;
  }
  &.prev:hover {
    background-position: left center;
  }
  &.next:hover {
    background-position: left -75px center;
  }
}

.volverArriba {
  border: 3px solid rgb(240, 241, 243);
  border-radius: 5px;
  bottom: 20px;
  display: inline-block;
  height: 54px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 54px;
  z-index: 100;
  transition: all 0.5s;
  background: url("../images/volverArriba.png") 13px 12px no-repeat scroll rgb(255, 255, 255);
  &:hover {
    text-decoration: none;
    outline: none;
    background-position: 13px -50px;
  }
}

#cabecera {
  float: left;
  display: inline;
  width: 100%;
  background-color: rgb(34, 51, 89);
}

.areaDeMenu {
  float: left;
  display: inline;
  width: 100%;
}

.navbar-default {
  .navbar-brand {
    font-family: 'Times Pro Roman';
    color: rgb(255, 255, 255);
    font-size: 25px;
    /*    font-weight: bold; */
    margin-top: 15px;
    &:focus, &:hover {
      color: rgb(255, 255, 255);
      background-color: transparent;
    }
  }
  border-color: transparent;
  background-color: rgb(34, 51, 89);
  .navbar-nav > {
    li > a {
      color: rgb(255, 255, 255);
      padding: 30px 15px;
      text-transform: uppercase;
      transition: all 0.5s;
      &:focus, &:hover {
        background-color: transparent;
      }
    }
    .active > a {
      background-color: transparent;
      &:hover, &:focus {
        background-color: transparent;
      }
    }
  }
}

.navbar-nav > li > .dropdown-menu {
  background-color: rgb(34, 51, 89);
  &::before {
    border-bottom-width: 15px;
    border-bottom-style: solid;
    border-bottom-color: rgb(34, 51, 89);
    border-left-width: 15px;
    border-left-style: solid;
    border-left-color: transparent;
    border-right-width: 15px;
    border-right-style: solid;
    border-right-color: transparent;
    content: "";
    height: 0px;
    position: absolute;
    right: 25px;
    top: -15px;
    width: 0px;
  }
  li a {
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: rgba(255, 255, 255, 0.29804);
    color: rgb(255, 255, 255);
    display: block;
    opacity: 0.8;
    padding: 10px;
    transition: all 0.5s;
  }
  > li:last-child a {
    border-bottom-width: medium;
    border-bottom-style: none;
  }
}

.dropdown-menu > {
  li > a {
    &:focus, &:hover {
      text-decoration: none;
      background-color: transparent;
    }
  }
  .active > a {
    background-color: transparent;
    &:focus, &:hover {
      background-color: transparent;
    }
  }
}

.navbar-default {
  .navbar-toggle {
    &:focus, &:hover {
      background-color: transparent;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    &:focus, &:hover {
      background-color: transparent;
    }
  }
}

#slider {
  float: left;
  display: inline;
  width: 100%;
}

.areaSlider {
  display: inline;
  float: left;
  margin-top: 80px;
  width: 100%;
  background-color: rgb(204, 204, 204);
}

.areaSliderCenter {
  left: 5%;
  position: absolute;
  top: 25%;
  width: 50%;
}

.areaSliderRight {
  left: 38%;
}

.areaSliderCenter {
  h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 33px;
    padding: 8px;
    margin-bottom: 7px;
    text-transform: uppercase;
    background-color: rgba(49, 59, 61, 0.6);
  }
  p {
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    padding: 10px;
    background-color: rgba(49, 59, 61, 0.6);
  }
}

.botonSlider {
  border: 3px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
  padding: 9px 15px;
  text-decoration: none;
  transition: all 0.5s;
  background: rgba(49, 59, 61, 0.6);
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

.siguiente, .anterior {
  display: none !important;
  color: aliceblue;
  background-color: aliceblue;
}

.areaSlider:hover {
  .siguiente, .anterior {
    display: block !important;
  }
}

/*
*******************************************************
*/

#sobreNosotros {
  display: inline;
  float: left;
  padding: 100px;
  width: 100%;
}

.seccionSobreNosotros {
  padding: 100px;
  text-align: center;
  display: inline;
  float: left;
  width: 100%;
  p {
    line-height: 25px;
  }
}

.titulo {
  text-transform: uppercase;
  position: relative;
  margin-bottom: 20px;
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 450px;
    height: 5px;
  }
}

.seccionNoticias {
  float: left;
  display: inline;
  width: 100%;
  padding-left: 15px;
}

.noticiasBorder li {
  margin-bottom: -2px;
  a {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    &:hover {
      color: rgb(255, 255, 255);
    }
  }
}

.seccionNuevasNoticias {
  margin-top: 15px;
  li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(204, 204, 204);
    padding-bottom: 10px;
    margin-bottom: 10px;
    &:last-child {
      border-bottom-style: none;
    }
  }
}

.noticiasImg {
  display: block;
  height: 70px;
  width: 100px;
  > img {
    width: 100%;
    height: 110%;
  }
}

.seccionNuevasNoticias .media-body > a {
  text-decoration: none;
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-top: 5px;
  transition: all 0.3s;
}

.fechaNoticia {
  color: rgb(202, 204, 204);
}

.verTodos {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: rgb(204, 204, 204);
  float: right;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.5s;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
}

#porqueElegir {
  float: left;
  display: inline;
  width: 100%;
}

.porqueElegir-top {
  float: left;
  display: inline;
  width: 100%;
  padding: 60px 0px;
  background-color: rgb(255, 255, 255);
}

.descPorqueElegir {
  float: left;
  display: inline;
  width: 100%;
  text-align: center;
}

.tituloPorqueElegir {
  float: left;
  display: inline;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.title_area span {
  display: inline-block;
  text-align: center;
  height: 5px;
  width: 50px;
}

.titulo2PorqueElegir {
  padding-bottom: 0px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.iconPorqueElegir {
  border-radius: 25px;
  color: rgb(255, 255, 255);
  display: inline-block;
  height: 150px;
  text-align: center;
  width: 150px;
  span {
    display: inline-block;
    font-size: 50px;
    height: 100%;
    line-height: 160px;
    width: 100%;
    transition: all 0.5s;
  }
}

.descPorqueElegir {
  &:hover .iconPorqueElegir span {
    /*transform: skewX(25deg);*/
  }
  > {
    h3 {
      font-family: 'Lato', sans-serif;
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }
  }
}

#nuestrasCarreras {
  float: left;
  display: inline;
  width: 100%;
  padding: 60px 0px;
  background-color: rgb(255, 255, 255);
}

.nuestrasCarreras-lista {
  float: left;
  display: inline;
  width: 100%;
}

.navCarreras li {
  display: block;
  float: left;
  margin-right: 30px;
  width: 31%;
  &:last-child {
    margin-right: 0px;
  }
}

.descripcionCarrera {
  border: 1px solid rgb(239, 239, 239);
  display: inline;
  float: left;
  min-height: 150px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.desCarreraImg {
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  img {
    display: block;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  .card {
    transform: translateY(100%);
    opacity: 100;
    transition: all 0.5s ease-in-out;
    background-color: rgba(34, 51, 89, 0.8);
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
  }
  .contenido {
    left: 0px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
  }
  &:hover {
    .card {
      transform: translateY(0);
    }
    img {
      transform: translateX(-100%);
    }
  }
}

.carreras-info {
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 18px;
  margin-top: 27%;
  padding: 10px;
  text-transform: uppercase;
  transition: all 0.5s;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
  }
}

.contenidoDesc {
  float: left;
  display: inline;
  width: 100%;
  padding: 10px;
}

.nombreCarrera {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(239, 239, 239);
  font-size: 20px;
  margin-top: 10px;
  padding-bottom: 10px;
  a {
    transition: all 0.2s;
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }
}

.duracionCarrera {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(239, 239, 239);
  padding-bottom: 10px;
  > span {
    font-weight: bolder;
    font-size: 15px;
  }
}

.navCarreras {
  .slick-prev {
    left: -37px;
    height: 80px;
    width: 36px;
    background-image: url("../images/carrerasPrev.png");
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .slick-next {
    height: 80px;
    width: 36px;
    right: -6px;
    background-image: url("../images/carrerasNext.png");
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .slick-prev, .slick-next {
    top: 40%;
  }
}

#footer {
  float: left;
  display: inline;
  width: 100%;
}

.footer_top {
  float: left;
  display: inline;
  width: 100%;
  padding: 60px 0px;
  background-color: rgb(34, 51, 89);
}

.footerUniversidad {
  display: inline;
  float: right;
  padding: 0px 10px;
  width: 100%;
  > {
    ul > li > a {
      color: rgb(255, 255, 255);
      &:hover {
        color: #337ab7;
        text-decoration: none;
      }
    }
    h3 {
      color: rgb(255, 255, 255);
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    p {
      color: rgb(255, 255, 255);
    }
  }
}

.footerRedesSociales li a {
  color: rgb(255, 255, 255);
  display: inline-block;
  float: left;
  font-size: 22px;
  padding: 0px 10px;
}

.footerBottom {
  float: left;
  display: inline;
  width: 100%;
  padding: 20px 0px;
  background-color: rgb(248, 248, 248);
}

.footerBottomIzq {
  float: left;
  display: inline;
  width: 100%;
  > p {
    margin-bottom: 0px;
  }
}

.footerBottomDer {
  > p {
    margin-bottom: 0px;
  }
  float: left;
  display: inline;
  width: 100%;
  text-align: right;
}

/*****************************************************************************************/
/*****************************************************************************************/

#portada {
  display: inline;
  float: left;
  height: 300px;
  margin-top: 77px;
  padding: 118px 0px;
  text-align: center;
  width: 100%;
  background-image: url("../images/portada.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  h2 {
    color: rgb(255, 255, 255);
    font-size: 72px;
    font-weight: bold;
    text-align: center;
    font-family: 'Lato', sans-serif;
  }
}

#descripcionBanner {
  float: left;
  display: inline;
  width: 100%;
  padding: 60px 0px;
  min-height: 500px;
  background-color: rgb(255, 255, 255);
}

.descripcionContenido {
  float: left;
  font-size: 15px;
  display: inline;
  width: 100%;
  .descripcionCarrera {
    margin-bottom: 30px;
  }
}

.paginacion li a {
  transition: all 0.5s;
  &:hover, &:focus {
    color: rgb(255, 255, 255);
  }
}

.eventosSidebar {
  float: left;
  display: inline;
  width: 100%;
  padding: 12px;
  min-height: 500px;
  background-color: rgb(255, 255, 255);
}

.seccionEventosSidebar {
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 15px;
  > h2 {
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 26px;
    text-align: center;
    padding: 0px 5px;
    margin-bottom: 15px;
    span {
      font-family: 'Lato', sans-serif;
      font-size: 24px;
    }
  }
  .seccionNuevasNoticias .media-body > a {
    margin-top: 0px;
  }
  > ul > li > a {
    display: block;
    font-size: 13px;
    font-weight: 600;
    padding: 5px;
    transition: all 0.5s;
    &:hover, &:focus {
      text-decoration: none;
      outline: none;
    }
  }
}

.descripcionSeccionPortada {
  float: left;
  display: inline;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.seccion-eventos-slider {
  float: left;
  display: inline;
  width: 100%;
}

.descripcionPortada {
  float: left;
  display: inline;
  width: 100%;
  > img {
    max-height: 350px;
    width: 100%;
  }
}

.descripcion-Carrera {
  display: inline;
  float: left;
  margin-top: 35px;
  width: 100%;
  > {
    h2 {
      font-family: 'Lato', sans-serif;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    p {
      font-size: 15px;
      line-height: 1.9em;
    }
  }
}

.tablaMaterias {
  background-color: rgb(255, 255, 255);
  thead {
    color: rgb(255, 255, 255);
    > tr > th {
      color: rgb(255, 255, 255);
      text-transform: uppercase;
    }
  }
}

/****************************************************************/
/*  ACA NOS QUEDAMOS                    */
/****************************************************************/

.eventosArchivos {
  display: inline;
  float: left;
  margin-bottom: 30px;
  padding-bottom: 15px;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.imagenPortadaSite {
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}

.imagenPort {
  img {
    height: 100%;
    width: 100%;
    transition: all 1s ease;
    transform: translate3d(0px, 0px, 0px);
  }
  &:hover img {
    opacity: 0.8;
    transform: scale(1.1);
  }
}

.tituloEvento {
  display: block;
  margin-bottom: 7px;
  margin-top: 20px;
  text-transform: uppercase;
  padding: 0px 15px;
  transition: all 0.5s;
  a:hover {
    text-decoration: none;
    outline: none;
  }
}

.fechayLugar {
  float: left;
  display: inline;
  width: 100%;
  padding: 0px 15px;
  > p {
    color: rgb(136, 136, 136);
    display: inline-block;
    font-size: 15px;
    font-weight: normal;
    margin-right: 5px;
    border-right-width: 2px;
    border-right-style: solid;
    border-right-color: rgb(204, 204, 204);
    padding-right: 5px;
    transition: all 0.5s;
  }
  &:last-child {
    border-right-style: none;
  }
  > {
    p i {
      margin-right: 5px;
    }
    a {
      color: rgb(136, 136, 136);
      font-size: 15px;
      font-weight: normal;
      transition: all 0.5s;
      i {
        margin-right: 5px;
      }
    }
  }
}

.eventoDescripcion {
  color: rgb(155, 155, 155);
  line-height: 18px;
  margin: 10px 5px 10px 0px;
  padding: 0px 15px;
}

.saberMasEvento {
  position: relative;
  display: inline-block;
  margin: 15px 25px;
  outline: none;
  color: rgb(155, 155, 155);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: rgba(255, 255, 255, 0.29804) 0px 0px 1px;
  font-size: 15px;
  float: right;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
  &::before, &::after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
  }
  &::before {
    margin-right: 10px;
    content: "[";
    transform: translateX(20px);
  }
  &::after {
    margin-left: 10px;
    content: "]";
    transform: translateX(-20px);
  }
  &:hover {
    &::before, &::after {
      opacity: 1;
      transform: translateX(0px);
    }
  }
  &:focus {
    &::before, &::after {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.portadaSitio {
  float: left;
  display: inline;
  width: 100%;
  .tituloEvento, .fechayLugar {
    padding-left: 0px;
  }
  p {
    line-height: 25px;
    font-size: 15px;
  }
  blockquote {
    border-left-style: none;
    > span {
      font-size: 25px;
    }
  }
  ul li {
    line-height: 25px;
    > span {
      margin-right: 5px;
    }
  }
  display: inline;
  float: left;
  margin-top: 40px;
  width: 100%;
}

.eventoAnterior {
  display: inline-block;
  float: left;
  padding: 8px 16px;
  color: rgb(204, 204, 204);
  border: 2px solid rgb(204, 204, 204);
  text-transform: uppercase;
  transition: all 0.5s;
  &:hover {
    text-decoration: none;
    outline: none;
  }
  > i {
    font-size: 20px;
    margin-right: 5px;
  }
}

.eventoSiguiente {
  display: inline-block;
  float: right;
  padding: 8px 16px;
  color: rgb(204, 204, 204);
  border: 2px solid rgb(204, 204, 204);
  text-transform: uppercase;
  transition: all 0.5s;
  &:hover {
    text-decoration: none;
    outline: none;
  }
  > i {
    font-size: 20px;
    margin-left: 5px;
  }
}

.tituloBarCyan {
  float: left;
  display: inline;
  width: 100%;
  margin-top: 40px;
  > h2 {
    font-family: 'Lato', sans-serif;
    border-left-width: 5px;
    border-left-style: solid;
    font-size: 25px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
  }
}

.eventosDeslizadorSeccion {
  float: left;
  display: inline;
  width: 100%;
}

.eventosDeslizador {
  float: left;
  display: inline;
  width: 100%;
  .slick-prev {
    height: 30px;
    width: 30px;
    background-image: url("../images/anterior.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .slick-next {
    height: 30px;
    width: 30px;
    background-image: url("../images/siguiente.png");
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }
  .slick-prev, .slick-next {
    height: 45px;
  }
  .slick-slide img {
    display: block;
    width: 100%;
  }
}

/***********************************************/
/*************************************************/

#galeriaDeFotos {
  display: inline;
  float: left;
  padding: 60px 0px;
  width: 100%;
}

.areaDeFotos {
  float: left;
  display: inline;
  width: 100%;
  a {
    display: inline-block;
    height: 200px;
    margin: 0px 9px 18px;
    width: 23%;
    position: relative;
    overflow: hidden;
    transition: all 0.5s;
    > img {
      width: 100%;
      height: 100%;
      transition: all 0.5s;
    }
    &:hover .fotos {
      transform: scale(2.2);
    }
  }
}

.verFotos {
  display: none;
  left: -100%;
  transition: all 0.5s;
}

.areaDeFotos a:hover .verFotos {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  left: 0px;
  padding-top: 34%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 0px;
  width: 100%;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.90196);
}

#contacto {
  float: left;
  display: inline;
  width: 100%;
  padding: 60px 0px;
  background-color: rgb(255, 255, 255);
}

.formularioContacto {
  float: left;
  display: inline;
  width: 100%;
}

.ingresarDatos {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding: 10px 12px;
  transition: all 0.4s ease 0s;
  width: 100%;
}

.datosTexto, .datosEmail {
  height: 45px;
}

.datostxtArea {
  height: 200px;
  padding: 15px;
}

.datosEnviar {
  padding: 10px 15px;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  background-color: rgb(255, 255, 255);
}

.nuestraDireccion {
  float: left;
  display: inline;
  width: 100%;
  > h3 {
    margin-top: 0px;
  }
}

.direccionContacto {
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: 30px;
  .footerRedesSociales li a {
    color: rgb(204, 204, 204);
  }
}

#mapa {
  float: left;
  display: inline;
  width: 100%;
  margin-bottom: -6px;
}

#error {
  float: left;
  display: inline;
  width: 100%;
  padding: 60px 0px;
}

.seccionNotFound {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
  h1 {
    display: inline-block;
    font-size: 300px;
    font-weight: 400;
    position: relative;
    vertical-align: middle;
  }
  h2 {
    color: rgb(193, 192, 180);
    font-size: 60px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }
  h3 {
    font-size: 24px;
    margin-top: 35px;
  }
  p {
    font-size: 23px;
    line-height: 31px;
    margin: 36px auto 0px;
    max-width: 630px;
    padding: 9px 0px 8px;
    position: relative;
    &::before {
      content: "";
      left: 0px;
      position: absolute;
      top: 1px;
      width: 100%;
    }
    &::after {
      bottom: 1px;
      content: "";
      left: 0px;
      position: absolute;
      width: 100%;
    }
    > a {
      color: rgb(121, 137, 146);
      text-decoration: none;
    }
  }
}

@media (max-width: 1199px) {
  .areaSliderCenter {
    width: 60%;
    h2 {
      font-family: 'Lato', sans-serif;
      font-size: 30px;
    }
  }
  .areaSliderRight {
    left: 35%;
  }
  .singCourse_author > p {
    font-size: 15px;
  }
  .side_add {
    display: block;
    width: 100%;
    > img {
      width: 100%;
    }
  }
  .areaDeFotos a {
    width: 22.5%;
  }
}

@media (max-width: 991px) {
  .navbar-default {
    .navbar-brand {
      font-size: 18px;
    }
    .navbar-nav > li > a {
      font-size: 12px;
      padding: 30px 9px;
    }
  }
  .navbar-nav > li > .dropdown-menu li a {
    font-size: 12px;
  }
  .navbar-brand {
    width: 160px;
    img {
      max-width: 100%;
    }
  }
  .areaSliderCenter {
    width: 80%;
  }
  .areaSliderRight {
    left: 15%;
  }
  .navCarreras {
    padding-left: 15px;
    .slick-prev {
      left: -20px;
    }
  }
  .nombreCarrera {
    font-size: 18px;
  }
  .singCourse_author > p {
    font-size: 10px;
  }
  .footerUniversidad > h3 {
    font-size: 17px;
  }
  .seccionEventosSidebar > h2 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
  .seccionNuevasNoticias .media-body > a {
    font-size: 12px;
  }
  .areaDeFotos a {
    width: 30.3%;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav > li > a {
    padding: 10px 20px;
  }
  .navbar-nav > li > .dropdown-menu {
    left: 15px;
    &::before {
      border-left-width: 10px;
      border-left-style: solid;
      border-left-color: transparent;
      border-right-width: 10px;
      border-right-style: solid;
      border-right-color: transparent;
      right: 65%;
    }
  }
  .navbar-toggle {
    margin-top: 15px;
  }
  .navbar-default .navbar-brand {
    margin-bottom: 8px;
    margin-top: 8px;
  }
  .navbar-nav > li > .dropdown-menu::before {
    display: none;
  }
  .areaSliderCenter {
    width: 90%;
  }
  .areaSliderRight {
    left: 5%;
  }
  .areaSliderCenter h2 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    line-height: 35px;
  }
  .areaSlider {
    margin-top: 66px;
  }
  .seccionSobreNosotros {
    padding-right: 0px;
    margin-bottom: 30px;
  }
  .descPorqueElegir, .single_skill, .single_stsTestimonial {
    margin-bottom: 30px;
  }
  .footerBottomIzq {
    margin-bottom: 10px;
    text-align: center;
  }
  .footerBottomDer, .footerUniversidad {
    text-align: center;
  }
  .footerRedesSociales {
    text-align: center;
    li {
      display: inline-block;
    }
  }
  #portada {
    margin-top: 65px;
    h2 {
      font-size: 50px;
      font-family: 'Lato', sans-serif;
    }
  }
  .descripcionContenido {
    margin-bottom: 65px;
  }
  .areaDeFotos a {
    width: 28.5%;
  }
  .nuestraDireccion {
    margin-top: 50px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .areaSliderRight {
    top: 15%;
  }
  .areaSliderCenter {
    h2 {
      font-size: 20px;
      line-height: 30px;
    }
    p {
      font-size: 13px;
    }
  }
  .botonSlider {
    font-size: 13px;
    padding: 5px 10px;
  }
  .seccionNotFound h1 {
    font-size: 100px;
  }
  #portada {
    h2 {
      font-size: 40px;
    }
    height: 200px;
    padding: 80px 0px;
  }
  .areaDeFotos a {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    height: 250px;
  }
}

@media (max-width: 360px) {
  .seccionNotFound {
    h1 {
      font-size: 70px;
    }
    h2 {
      font-size: 40px;
    }
    p {
      font-size: 17px;
    }
    h1 {
      &::after, &::before {
        height: 15px;
        width: 15px;
      }
      &::after {
        right: -30px;
      }
      &::before {
        left: -30px;
      }
    }
  }
  .noticiasBorder li a {
    font-size: 14px;
  }
  #portada h2 {
    font-size: 30px;
  }
  .tituloEvento {
    font-size: 20px;
    line-height: 30px;
  }
  .areaDeFotos a {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    height: 200px;
  }
}

@media (max-width: 320px) {}

.direccionyContacto {
  float: left;
  display: inline;
  width: 100%;
  color: white;
}

.tabMaterias {
  clear: both;
}

#nuestraHistoria {
  float: left;
  display: inline;
  width: 100%;
  padding: 0px 0px;
  min-height: 500px;
  background-color: rgb(255, 255, 255);
}

/*THEME FJKSDFSA*/

.navbar-default {
  .navbar-brand span {
    font-family: 'Times Pro Roman';
    color: #00AEF0;
    color: #00AEF0;
  }
  .navbar-nav > {
    li > a {
      &:focus, &:hover {
        color: #00AEF0;
      }
    }
    .active > a {
      color: #00AEF0;
      &:hover, &:focus {
        color: #00AEF0;
      }
    }
  }
}

.dropdown-menu > li > a {
  &:focus, &:hover {
    color: #00AEF0 !important;
  }
}

.navbar-default {
  .navbar-toggle .icon-bar {
    background-color: #00AEF0;
  }
  .navbar-nav {
    > .open > a {
      background-color: transparent;
      color: #00AEF0;
      &:focus, &:hover {
        background-color: transparent;
        color: #00AEF0;
      }
    }
    .open .dropdown-menu > li > a {
      color: #00AEF0;
    }
  }
}

.slides-pagination a.current {
  background-color: #00AEF0;
}

.botonSlider {
  &:hover, &:focus {
    color: #00AEF0;
    border-color: #00AEF0;
  }
}

.titulo:after {
  background-color: #00AEF0;
}

.noticiasBorder {
  border-bottom: 2px solid #00AEF0;
  li {
    &.active a {
      border: 2px solid;
      color: #00AEF0 !important;
      border-color: #00AEF0 #00AEF0 transparent;
      &:hover, &:focus {
        border: 2px solid;
        color: #00AEF0 !important;
        border-color: #00AEF0 #00AEF0 transparent;
      }
    }
    a:hover {
      background-color: #00AEF0;
    }
  }
}

.seccionNuevasNoticias .media-body > a :hover {
  color: #00AEF0;
}

.verTodos {
  &:hover, &:focus {
    border-color: #00AEF0;
    color: #00AEF0;
  }
}

.single_notice_pane {
  .slick-prev, .slick-next {
    background-color: #00AEF0;
  }
}

.tituloPrincipal span, .iconPorqueElegir {
  background: none repeat scroll 0 0 #00AEF0;
}

.carreras-info {
  &:hover, &:focus {
    color: #00AEF0;
  }
}

.nombreCarrera a:hover, .duracionCarrera {
  color: #00AEF0;
}

.tutors_thumb {
  background: none repeat scroll 0 0 #00AEF0;
}

.singTutors_content > span {
  background-color: #00AEF0;
}

.tutors_socnav li a {
  &:hover, &:focus {
    color: #00AEF0;
    border-color: #00AEF0;
  }
}

.tutors_nav .slick-dots li.slick-active {
  border-color: #00AEF0;
}

.stsTestimonial_content > p {
  color: #00AEF0;
}

.volverArriba:hover {
  background-color: #00AEF0;
}

.footerBottomIzq a {
  color: #00AEF0;
}

.paginacion li a {
  color: #00AEF0;
  &:hover, &:focus {
    background-color: #00AEF0;
  }
}

.eventosArchivos {
  border-bottom: 3px solid #00AEF0;
}

.tituloEvento a:hover {
  color: #00AEF0;
}

.fechayLugar > {
  p:hover, a:hover {
    color: #00AEF0;
  }
}

.saberMasEvento {
  &:hover, &:focus {
    color: #00AEF0;
  }
  &:hover {
    &::before, &::after {
      color: #00AEF0;
    }
  }
  &:focus {
    &::before, &::after {
      color: #00AEF0;
    }
  }
}

.tags_nav li a {
  &:hover, &:focus {
    background-color: #00AEF0;
  }
}

.portadaSitio {
  blockquote > span, ul li > span {
    color: #00AEF0;
  }
}

.eventoAnterior:hover, .eventoSiguiente:hover {
  color: #00AEF0;
  border-color: #00AEF0;
}

.tituloBarCyan > h2 {
  color: #00AEF0;
}

.eventosDeslizador {
  .slick-prev, .slick-next {
    background-color: #00AEF0;
  }
}

.seccionNotFound {
  h1 {
    &:after, &:before {
      border: 2px solid #00AEF0;
    }
  }
  p {
    > a:hover {
      color: #00AEF0;
    }
    &:before, &:after {
      border-top: 1px solid #00AEF0;
    }
    border-bottom: 2px solid #00AEF0;
    border-top: 2px solid #00AEF0;
  }
  h1 {
    color: #00AEF0;
  }
}

.ingresarDatos:focus {
  border: 1px solid #00AEF0;
}

.datosEnviar {
  border: 1px solid #00AEF0;
  color: #00AEF0;
  &:hover, &:focus {
    background-color: #00AEF0;
    color: #ffffff;
  }
}

.footer_widget_nav li a {
  color: #00AEF0;
}

.dropdown-menu > .active > a {
  color: #00AEF0 !important;
  &:focus, &:hover {
    color: #00AEF0 !important;
  }
}

.seccionEventosSidebar > h2, .tablaMaterias thead {
  background-color: #00AEF0;
}

.seccionEventosSidebar > ul > li > a {
  &:hover, &:focus {
    color: #00AEF0;
  }
}

.seccionNuevasNoticias .media-body > a:hover {
  color: #00AEF0;
}
